<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>List Employees</title>
    </head>
    
    <body>
    <div align="center">
        <h2>List of Employees</h2>
        <a th:href="@{'/employee/addEmployee'}">Add New Employee?</a>
        <br/><br/>
        
        <table th:if="${ not #lists.isEmpty(employees) }" border="1" cellpadding="10">
        <thead>
        <tr>
            <th>First Name</th>
            
            <th>Last Name</th>
            
            <th>Job Title</th>
            
            <th>Salary</th>
            
            <th>Location</th>
        </tr>
        </thead>
        <tbody>
        	<tr th:each="employee : ${employees}">
        	
            	<td th:text="${employee.firstName}"></td>

            	<td th:text="${employee.lastName}"></td>
            	            
            	<td th:text="${employee.title}"></td>
            	
            	<td th:text="${employee.salary}"></td>

            	<td th:text="${employee.location}"></td>
            	
        	</tr>
        </tbody>
        </table>
    </div>
    </body>
    
</html>